garbage/

gcp-and-terraform/02_build_tf-gcp/.terraform/
gcp-and-terraform/04_variables_tf-gcp/terraform.tfvars

05_outputs_tf-gcp/terraform.tfvars

### Garbage az
azure-and-terraform/01-ResourceGroup/.terraform/

azure-and-terraform/01-ResourceGroup/terraform.tfvars
azure-and-terraform/01-ResourceGroup/terraform.tfstate
azure-and-terraform/01-ResourceGroup/terraform.tfstate.*

azure-and-terraform/02-VirtualNet/.terraform
azure-and-terraform/02-VirtualNet/terraform.tfvars
azure-and-terraform/02-VirtualNet/terraform.tfstate
azure-and-terraform/02-VirtualNet/terraform.tfstate.*

azure-and-terraform/03-Subnets-Interpolation/.terraform
azure-and-terraform/03-Subnets-Interpolation/terraform.tfvars
azure-and-terraform/03-Subnets-Interpolation/terraform.tfstate
azure-and-terraform/03-Subnets-Interpolation/terraform.tfstate.*

azure-and-terraform/04-Using-locals-tf/.terraform
azure-and-terraform/04-Using-locals-tf/terraform.tfvars
azure-and-terraform/04-Using-locals-tf/terraform.tfstate
azure-and-terraform/04-Using-locals-tf/terraform.tfstate.*

azure-and-terraform/05-Backend-Az-Storage/.terraform
azure-and-terraform/05-Backend-Az-Storage/terraform.tfvars
azure-and-terraform/05-Backend-Az-Storage/terraform.tfstate
azure-and-terraform/05-Backend-Az-Storage/terraform.tfstate.*

azure-and-terraform/05-Backend-Az-Storage/linux-vm/terraform.tfvars
azure-and-terraform/05-Backend-Az-Storage/linux-vm/.terraform
azure-and-terraform/05-Backend-Az-Storage/linux-vm/ssh-key/id_rsa

azure-and-terraform/06-Outputs-in-tf/terraform.tfvars
azure-and-terraform/06-Outputs-in-tf/.terraform/
azure-and-terraform/06-Outputs-in-tf/terraform.tfstate*